<app-header>
</app-header>

<div *ngIf="itemCarts?.length == 0">
    <h3>There is no data in the cart</h3>

</div>
<div class="row">

    <div class="col-sm-6 col-md-4" *ngFor="let itemCart of itemCarts">
        <div class="thumbnail">
            <img src={{itemCart.productId.imagepath}} style="max-width:250px">
            <div class="caption">
                <h3>{{itemCart.productId.name}}</h3>
                <div class="clearfix">
                    <div class="price pull-left">
                        <strong>Rs.{{itemCart.productId.price}}</strong>
                    </div>

                    <button class="btn btn-danger pull-right" (click)=remove(itemCart._id)>Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>